<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crear Unidad</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Crear Unidad</h1>

        <form action="/admin/crearUnidad" method="post" th:object="${unidadForm}">
            <div class="form-group">
                <label for="unidadTitulo">Título de la Unidad:</label>
                <input type="text" class="form-control" id="unidadTitulo" name="titulo" required>
            </div>
            <div class="form-group">
                <label for="unidadDescripcion">Descripción de la Unidad:</label>
                <textarea class="form-control" id="unidadDescripcion" name="descripcion" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Crear Unidad</button>
        </form>
        
        <div th:if="${error}">
            <p th:text="${error}" class="text-danger"></p>
        </div>
    </div>
</body>

</html>
