.container {
			display: flex;
			flex-wrap: wrap;
			margin: 0 auto;
			max-width: 1200px;
		}
		
		.sidebar {
			flex-basis: 20%;
			margin-right: 20px;
		}
		.sidebar ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.sidebar li {
			margin-bottom: 10px;
		}
		.sidebar a {
			display: block;
			padding: 10px;
			background-color: #f2f2f2;
			color: #333;
			border-radius: 5px;
			transition: background-color 3 s ease-in-out;
		}
		.sidebar a:hover {
			background-color: #333;
			color: #fff;
		}
		.content {
			flex-basis: 70%;
		}