@font-face {
  font-family: 'Gotham';
  src: url('https://example.com/fonts/gotham.woff2') format('woff2'),
       url('https://example.com/fonts/gotham.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, button {
  font-family: 'Gotham', sans-serif;
}

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

:root {
  --bs-red: #dc3545;
}

.dataTables_wrapper .form-select.form-select-sm:focus,
.dataTables_wrapper .form-control.form-control-sm:focus {
  box-shadow: 0 0 0 0.1rem var(--bs-red);
}

.dataTables_wrapper .paginate_button.page-item.active .page-link {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.modal-open {
  overflow: hidden;
}
.modal {
  margin-top: 50px;
}

.form-check-input:checked {
  background-color: red;
  border-color: red;
}

/* Estilos para la tabla */
.table {
  font-size: 14px;
}

/* Estilos para los encabezados de la tabla */
.table thead th {
  font-weight: bold;
  text-align: center;
  background-color: #f8f9fa;
  border-color: #dee2e6;
  padding: 10px;
}

/* Estilos para las celdas de la tabla */
.table tbody td {
  text-align: center;
  border-color: #dee2e6;
  padding: 10px;
}

/* Estilos para los botones */
.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: #fff;
}

.btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  color: #fff;
  background-color: #343a40;
}

/* Estilos para resaltar el botón "Ver" */
.btn-outline-dark.w-100 {
  font-weight: bold;
}

.btn-outline-dark.w-100:hover {
  background-color: #212529;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

/* Relleno de fondo */

.container-main {
  background-color: #f8f9faab;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
}

/* agregar estudiantes grupo .accordion */

.accordion {
  margin: 0 auto;
  border: 1px solid #fff;
}

.accordion-item {
  border-bottom: 1px solid #fff;
}

.accordion-button {
  background-color: #dc3545;
  color: #fff;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.accordion-button:hover {
  background-color: #fff;
  color: #dc3545;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
}

.accordion-body {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #fff;
  border-top: none;
  font-size: 16px;
}

.accordion-button[aria-expanded="true"] h2 {
  color: #dc3545;
}

.accordion-item:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.5);
}

button:focus {
  background-color: #f5f5f5;
}

.accordion-button:focus {
  outline: none;
  border-color: #dc3545; /* Cambie el color aquí */
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  border-color: #dc3545;
  color: #dc3545;
}

