<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8">
<base th:href="@{~/}" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{css/EfectoDiv.css}" />
	

<title>Arquitectura de Computadores</title>
</head>

<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button"
					data-bs-toggle="offcanvas" data-bs-target="#sidebar"
					aria-controls="offcanvasExample">
					<span class="navbar-toggler-icon icon-bar"
						data-bs-target="#sidebar"></span>
				</button>
				<a class="navbar-brand me-auto ms-lg-0 ms-3 text-white fw-bold"
					th:href="@{/}">Ova Arquitectura de Computadores</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#topNavBar"
					aria-controls="topNavBar" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="topNavBar">

					<div class="d-flex ms-auto my-3 my-lg-0">
						<a class="navbar-brand"></a>
					</div>

					<ul class="navbar-nav">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle ms-2 text-white" href="#"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="bi bi-person-fill"></i>
						</a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" th:href="@{/perfil}">Perfil</a></li>
								<li><a class="dropdown-item" href="#">Sobre la app</a></li>
								<li sec:authorize="isAuthenticated()"><a
									class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section th:fragment="section">
		<!-- top navigation bar -->
		<!-- offcanvas -->
		<div class="offcanvas offcanvas-start sidebar-nav bg-white  mt-4 "
			tabindex="-1" id="sidebar">
			<div class="offcanvas-body p-0">
				<nav class="navbar-white">
					<ul class="navbar-nav">

						<li class="my-2">
							<!-- Espaciado	 -->
						</li>

						<li>
							<div class="text-muted small fw-bold text-uppercase px-3 mb-3">
								Navegación</div>
						</li>

						<!-- Menu gestionar Temática -->

						<li><a class="nav-link px-3 sidebar-link"
							data-bs-toggle="collapse" href="#layouts2"> <span
								class="me-2"><i class="bi bi-book-half text-dark "></i></span> <span
								class="bd-toc-link text-secondary fw-bold ">Temática</span><span
								class="ms-auto"> <span class="right-icon"> <i
										class="bi bi-chevron-down text-dark"></i>
								</span>
							</span>
						</a>
							<div class="collapse show" id="layouts2">
								<ul class="navbar-nav ps-3 mt-3">
									<li><a th:href="@{/direccionamiento}"
										class="nav-link px-3 text-secondary"><span class="me-2"></span><span>Sistemas
												Numéricos</span> </a>
										<div class="sidebar">
											<ul>
												<li><a href="javascript:void(0)" data-content="content1"
													onclick="showContent(this)">Título 1</a></li>
												<li><a  href="javascript:void(0)" data-content="content2"
													onclick="showContent(this)">Título 2</a></li>
												<li><a href="javascript:void(0)" data-content="content3"
													onclick="showContent(this)">Título 3</a></li>
											</ul>
										</div></li>

								</ul>
							</div>
							
							</li>
					</ul>


					<div>
						<a href="#" class="nav-link px-3 text-secondary"><span
							class="me-2"><i class="bi bi-table"></i></span> <span
							class="fw-bold">Calendario</span> </a>
					</div>

				</nav>
			</div>
		</div>
	</section>

<script th:src="@{/js/Efecto.js}"></script>


	<footer th:fragment="footer">
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script
			src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
		<script
			src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"></script>
		<script th:src="@{/js/script.js}"></script>
	</footer>
</body>

</html>