<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="menu/menu :: head">
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/sectionIntro.css">
</head>

<body onload="showContent(document.getElementById('primerEnlace'))">

	<header th:replace="menu/menu :: header"> </header>

	<section th:fragment="section">

		<div class="offcanvas offcanvas-start sidebar-nav bg-white "
			tabindex="-1" id="sidebar" style="margin-top: 30px">
			<div class="offcanvas-body p-0">
				<nav class="navbar-white">
					<ul class="navbar-nav">
						<li class="my-2">
							<!-- Espaciado-->
						</li>
						<li>
							<div class="text-muted small fw-bold text-uppercase px-3 mb-3">
								Navegación</div>
						</li>
						<!-- Menu gestionar Temática -->
						<li><a class="nav-link px-3 sidebar-link"
							data-bs-toggle="collapse" href="#layouts2"> <span
								class="me-2"><i class="bi bi-book-half text-dark "></i></span> <span
								class="bd-toc-link text-secondary fw-bold ">Temática</span><span
								class="ms-auto"> <span class="right-icon"> <i
										class="bi bi-chevron-down text-dark"></i>
								</span>
							</span>
						</a>
							<div class="collapse show" id="layouts2">
								<ul class="navbar-nav ps-3 " style="margin-top: 10px">
									<li>
										<div class="sidebar">
											<ul>
												<li><a href="javascript:void(0)"
													data-content="content1" onclick="showContent(this)"
													id="primerEnlace"> Introducción a la Arquitectura de
														Computadores</a></li>
												<li><a href="javascript:void(0)"
													data-content="content2" onclick="showContent(this)">Sistemas
														numéricos: Hexadecimal, Octal, Decimal y Binario</a></li>
												<li><a href="javascript:void(0)"
													data-content="content3" onclick="showContent(this)">IEEE
														754 Punto Flotante y Números negativos </a></li>
												
												<!-- <li><a href="javascript:void(0)" data-content="content6"
														onclick="showContent(this)">Examen </a></li> -->
											</ul>
										</div>
									</li>
								</ul>
							</div></li>
					</ul>
					<div>
						<a href="#" class="nav-link px-3 text-secondary"><span
							class="me-2"><i class="bi bi-table"></i></span> <span
							class="fw-bold">Calendario</span> </a>
					</div>
					<button id="toggleSidebarBtn"
						class="btn btn-outline-primary fixed-bottom-end m-3">
						<i class="bi bi-list"></i>
					</button>
				</nav>
			</div>

		</div>
	</section>

	<main class="main-container mb-5">

		<div class="row justify-content-between">
			<div
				class="col-sm-3 col-md-2 d-flex flex-row align-items-center justify-content-start mt-1">
				<a class="btn btn-outline-danger" href="/tarjetamadreymemoria">Atras</a>
			</div>
			<div
				class="col-sm-6 col-md-8 d-flex flex-column align-items-center mt-1">
				<h2 class="bg-danger text-white p-2 text-center">Introducción a
					la arquitectura de computadores</h2>
			</div>
			<div
				class="col-sm-3 col-md-2 d-flex flex-row align-items-center justify-content-end mt-1">
				<a class="btn btn-outline-danger"
					href="/virtualización-emuladores-y-entornosdearquitectura">Siguiente</a>
			</div>
		</div>


		<div class="content">

			<div id="content1" class="animated">
				<div class="container bg-secondary text-white">
					<h2>Direcciones en Arquitectura de Computadoras</h2>
					<p class="text-start">En este tema, exploraremos el concepto de
						direcciones en arquitectura de computadoras y su importancia en el
						funcionamiento de los sistemas informáticos. Las direcciones
						juegan un papel fundamental en la forma en que se accede y se
						manejan los datos en la memoria.</p>

					<hr>

					<h4 class="text-start">Representación de Direcciones</h4>
					<p class="text-start">Las direcciones en arquitectura de
						computadoras se representan de diferentes formas, dependiendo del
						sistema utilizado. Algunas arquitecturas utilizan direcciones de
						memoria de tamaño fijo, mientras que otras utilizan direcciones
						segmentadas o paginadas. Comprender cómo se representan las
						direcciones es esencial para programar y diseñar sistemas
						informáticos eficientes.</p>

					<h4 class="text-start">Modos de Direccionamiento</h4>
					<p class="text-start">Los modos de direccionamiento determinan
						cómo se accede a los datos e instrucciones en la memoria. Los
						diferentes modos de direccionamiento incluyen direccionamiento
						directo, direccionamiento indirecto, direccionamiento inmediato y
						direccionamiento relativo, entre otros. Cada modo tiene sus
						ventajas y desventajas, y se utiliza en diferentes situaciones
						según los requisitos del programa.</p>

					<h4 class="text-start">Memoria Virtual</h4>
					<p class="text-start">La memoria virtual es una técnica
						utilizada por los sistemas operativos para proporcionar a los
						programas la ilusión de disponer de una cantidad de memoria mayor
						que la físicamente disponible. Esta técnica utiliza un esquema de
						traducción de direcciones para asignar y gestionar las direcciones
						virtuales en relación con las direcciones físicas reales. La
						memoria virtual permite ejecutar programas de mayor tamaño y
						mejorar la eficiencia del sistema.</p>

					<h4 class="text-start">Acceso a Memoria</h4>
					<p class="text-start">El acceso a la memoria implica la lectura
						y escritura de datos en direcciones específicas de la memoria.
						Para garantizar un acceso correcto y eficiente a la memoria, es
						necesario tener en cuenta aspectos como la alineación de datos,
						los ciclos de reloj requeridos y las restricciones de acceso en
						arquitecturas multiprocesador. El diseño de algoritmos y
						estructuras de datos eficientes también es crucial para optimizar
						el acceso a la memoria.</p>
				</div>
			</div>

			<div id="content2" class="animated">


				<div class="container col-lg-8 bg-secondary text-white">
					<h2>Modos de Direccionamiento en Arquitectura de Computadoras</h2>
					<p class="text-start">En este tema, exploraremos los diferentes
						modos de direccionamiento utilizados en arquitectura de
						computadoras y cómo afectan el acceso y la manipulación de los
						datos y las instrucciones en la memoria.</p>

					<hr>

					<h4 class="text-start">Direccionamiento Directo</h4>
					<p class="text-start">El direccionamiento directo es un modo
						comúnmente utilizado en el cual la dirección del operando se
						especifica directamente en la instrucción. Esto permite un acceso
						rápido y eficiente a los datos almacenados en ubicaciones de
						memoria específicas. El direccionamiento directo es ampliamente
						utilizado en operaciones que involucran matrices y estructuras de
						datos estáticas.</p>

					<h4 class="text-start">Direccionamiento Indirecto</h4>
					<p class="text-start">En el direccionamiento indirecto, la
						dirección del operando se almacena en un registro o en una
						ubicación de memoria adicional. La instrucción utiliza esta
						dirección almacenada para acceder al operando real en la memoria.
						El direccionamiento indirecto es útil cuando se necesita acceder a
						datos almacenados en ubicaciones de memoria variables o cuando se
						requiere una mayor flexibilidad en el acceso a los operandos.</p>

					<h4 class="text-start">Direccionamiento Inmediato</h4>
					<p class="text-start">En el direccionamiento inmediato, el
						operando se especifica directamente en la instrucción misma. El
						valor del operando se carga directamente en un registro o se
						utiliza en una operación aritmética o lógica. El direccionamiento
						inmediato es útil cuando se trabaja con valores constantes o
						cuando se requiere una operación rápida en una cantidad fija de
						datos.</p>

					<h4 class="text-start">Direccionamiento Relativo</h4>
					<p class="text-start">El direccionamiento relativo utiliza una
						dirección relativa a una posición actual o a un punto de
						referencia específico. La instrucción calcula la dirección
						efectiva sumando o restando un desplazamiento relativo a una
						dirección base o a un registro específico. El direccionamiento
						relativo es útil para acceder a datos en estructuras de datos
						indexadas o para realizar bucles y saltos condicionales en
						programas.</p>
				</div>
				<


			</div>
			<div id="content3" class="animated">
				<div class="container bg-secondary text-white">
					<h2>Memoria Virtual en Arquitectura de Computadoras</h2>
					<p class="text-start">En este tema, exploraremos el concepto de
						memoria virtual y su importancia en la gestión de la memoria en
						los sistemas informáticos. La memoria virtual es una técnica
						utilizada por los sistemas operativos para proporcionar una
						ilusión de memoria más grande que la memoria física disponible.</p>

					<hr>

					<h4 class="text-start">Paginación</h4>
					<p class="text-start">La paginación es una técnica de memoria
						virtual que divide la memoria en bloques de tamaño fijo llamados
						páginas. Cada página se asigna a un marco de página en la memoria
						física o se guarda en el almacenamiento secundario, como un disco
						duro. La paginación permite cargar solo las páginas necesarias en
						la memoria física en función de la demanda, lo que ayuda a
						optimizar el uso de la memoria y permite ejecutar programas más
						grandes.</p>

					<h4 class="text-start">Segmentación</h4>
					<p class="text-start">La segmentación es otra técnica de
						memoria virtual que divide la memoria en segmentos lógicos más
						grandes y flexibles. Cada segmento puede contener diferentes
						partes de un programa, como el código, los datos y la pila. Los
						segmentos se asignan a bloques de memoria física o se guardan en
						el almacenamiento secundario. La segmentación ofrece una mayor
						flexibilidad en la gestión de la memoria, pero puede resultar en
						fragmentación y requerir una gestión más compleja.</p>

					<h4 class="text-start">Tablas de Página y Tablas de Segmentos</h4>
					<p class="text-start">Para realizar el mapeo entre las
						direcciones virtuales y físicas, los sistemas operativos utilizan
						tablas de página y tablas de segmentos. Estas tablas contienen
						entradas que indican la correspondencia entre las direcciones
						virtuales y físicas, así como información adicional para el
						control de acceso y la protección de la memoria. Las tablas de
						página y tablas de segmentos permiten a los sistemas operativos
						realizar la traducción de direcciones durante la ejecución de
						programas.</p>

					<h4 class="text-start">Ventajas y Desventajas</h4>
					<p class="text-start">La memoria virtual ofrece varias
						ventajas, como permitir la ejecución de programas más grandes que
						la memoria física disponible, facilitar la compartición de memoria
						entre diferentes procesos y proporcionar protección y aislamiento
						entre procesos. Sin embargo, también presenta desventajas, como el
						aumento del tiempo de acceso a la memoria debido a la traducción
						de direcciones y el posible uso excesivo de memoria secundaria.</p>

					<!-- Puedes agregar más subtemas y descripciones aquí -->
				</div>

			</div>


		</div>
	</main>


	<script src="../static/js/btnsetion.js"></script>
</body>
<footer th:replace="menu/menu :: footer"></footer>
</html>













