<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="menu/menu :: head">
</head>

<body>
	<header th:replace="menu/menu :: header"></header>
	<div class="content mt-5 pt-3 d-flex justify-content-center">
		<div class="col-md-6">
			<style>
				.title-container {
					background-color: black;
				}
			</style>

			<h1 class="display-5 title-container" style="color: #00FF00;">
				<span style="font-family: 'Courier Prime', monospace; letter-spacing: 2px;">
					<span>¡</span>
					<span>B</span>
					<span>I</span>
					<span>E</span>
					<span>N</span>
					<span>V</span>
					<span>E</span>
					<span>N</span>
					<span>I</span>
					<span>D</span>
					<span>O</span>
					<span>!</span>
				</span>
				<style>
					.binary-style {
						font-family: monospace;
						letter-spacing: -2px;
						animation: blink 0.5s infinite;
					}

					@keyframes blink {
						50% {
							opacity: 0;
						}
					}
				</style>

				<span class="binary-style" style="font-family: 'Courier Prime', monospace; letter-spacing: 2px;"
					th:text="${#strings.substring(usuario.nombre, 0, 1).toUpperCase() + #strings.substring(usuario.nombre, 1).toLowerCase()}"></span>
				<span class="binary-style" style="font-family: 'Courier Prime', monospace; letter-spacing: 2px;"
					th:text="${#strings.substring(usuario.apellido, 0, 1).toUpperCase() + #strings.substring(usuario.apellido, 1).toLowerCase()}"></span>
			</h1>
			<!-- <hr>
			<img src="https://3.bp.blogspot.com/-aXeaPkQfJwU/WccfhAkucjI/AAAAAAAAAN8/Uy6I22cSHXcH4Pz8l3XwzmAKeNoaMV7lgCLcBGAs/s640/assembly.jpg"
				alt="Imagen" style="max-width: 100%;" /> -->
			<hr>
			<p><b>Explora nuestro OVA Arquitectura de Computadores para aprender sobre
					los fundamentos de la arquitectura de sistemas informáticos.
					Aprovecha esta oportunidad de estudio interactiva y descubre cómo
					funciona la estructura interna de los ordenadores. ¡Empieza a
					explorar hoy mismo!"</b></p>
		</div>
	</div>
	<div class="header">
		<h1>Temática</h1>
	</div>

	<div class="content">
		<p>La arquitectura de computadores es una materia que se estudia en las universidades como parte de los
			programas de informática, ingeniería de computación y electrónica. Esta materia se enfoca en el diseño,
			organización y funcionamiento de los sistemas de hardware de los computadores, así como en la forma en que
			interactúan con el software.</p>
	</div>

	<div class="cards">
		<div class="card" onclick="location.href='/introArqui';">
			<h2>Unidad 1: Introducción a la arquitectura de computadores</h2>
			<p>La arquitectura de computadoras es el estudio de cómo los sistemas informáticos están diseñados y
				organizados, tanto a nivel de hardware como de software...</p>
			<button>Ingresar</button>
		</div>

		<div class="card" onclick="location.href='/tarjetamadreymemoria';">
			<h2>Unidad 2: Tarjeta Madre y Memorias</h2>
			<p>La tarjeta madre es el componente principal de una computadora, encargada de interconectar y permitir la
				comunicación entre los demás componentes...</p>
			<button>Ingresar</button>
		</div>
		<div class="card" onclick="location.href='/direccionamientos';">
			<h2>Unidad 3: Direccionamientos e Introducción al S.O.</h2>
			<p>Se estudian los diferentes modos de direccionamiento utilizados para acceder a datos e instrucciones en
				la memoria...</p>
			<button>Ingresar</button>
		</div>

		<div class="card" onclick="location.href='/virtualizacion-emuladores-y-entornosdearquitectura';">
			<h2>Unidad 4: Virtualización, Emuladores y entornos de arquitectura</h2>
			<p>La virtualización, los emuladores y los entornos de arquitectura son conceptos clave en el campo de la
				informática...</p>
			<button>Ingresar</button>
		</div>

		<div class="card" onclick="location.href='/programacionenensamblador';">
			<h2>Unidad 5: Introducción a la programación en ensamblador</h2>
			<p>La programación en ensamblador es un lenguaje de programación de bajo nivel que se utiliza para escribir
				programas que se ejecutan directamente en el hardware de una computadora.</p>
			<button>Ingresar</button>
		</div>
		<div class="card" onclick="location.href='/unidad-seis';">
			<h2>Unidad 6: Condicionales, saltos e instrucciones repetitivas</h2>
			<p>En el lenguaje ensamblador, los condicionales se implementan utilizando instrucciones de salto
				condicional, como "je" (salta si igual), "jne" (salta si no igual), "jg" (salta si mayor)...</p>
			<button>Ingresar</button>
		</div>
		<div class="card" onclick="location.href='/unidad-siete';">
			<h2>Unidad 7: Cadenas, I/O y memoria auxiliar</h2>
			<p>Las cadenas se representan como secuencias de caracteres almacenadas en
				memoria. Para manipular cadenas, se utilizan instrucciones específicas...</p>
			<button>Ingresar</button>
		</div>		
            <div class="card" onclick="location.href='/examen/unidad-seis';">
			<h2>Examen</h2>
			<button>Iniciar</button>
		</div>
	</div>
	<div class="header">
		<h5>© 2023 Ova Arquitectura de Computadores. Todos los derechos reservados.</h5>
	</div>
	<!-- <div id="arqui">
    <iframe src="https://jonnyedwardjs.h5p.com/content/1291955728070322238/embed" width="100%" height="500" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *" aria-label="Arqui"></iframe>
    <script src="https://jonnyedwardjs.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>
</div> -->
	<footer th:replace="menu/menu :: footer"></footer>
</body>

</html>



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</body>

</html>