<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="menu/menu :: head">
	<meta charset="utf-8">
</head>

<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
					aria-controls="offcanvasExample">
					<span class="navbar-toggler-icon icon-bar" data-bs-target="#sidebar"></span>
				</button>
				<a class="navbar-brand me-auto ms-lg-0 ms-3 text-white fw-bold" th:href="@{/}">Ova Arquitectura de Computadores</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
					aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="topNavBar">

					<div class="d-flex ms-auto my-3 my-lg-0">
						<a class="navbar-brand"></a>
					</div>

					<ul class="navbar-nav">
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle ms-2 text-white" href="#"
								role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i
									class="bi bi-person-fill"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" th:href="@{/perfil}">Perfil</a></li>
								<li><a class="dropdown-item" href="#">Sobre la app</a></li>
								<li sec:authorize="isAuthenticated()"><a class="dropdown-item"
										th:href="@{/logout}">Cerrar sesión</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main class="mt-5 pt-3">
	<div class="container">	
	<section th:fragment="section">
		<!-- top navigation bar -->
		<!-- offcanvas -->
		<div class="offcanvas offcanvas-start sidebar-nav bg-white" tabindex="-1" id="sidebar">
			<div class="offcanvas-body p-0">
				<nav class="navbar-white">
					<ul class="navbar-nav">

						<li class="my-2">
							<!-- Espaciado	 -->
						</li>

						<li>
							<div class="text-muted small fw-bold text-uppercase px-3 mb-3">
								Navegación
							</div>
						</li>

						<!--             Menu gestionar Usuarios -->

						<li><a class="nav-link px-3 sidebar-link"
								data-bs-toggle="collapse" href="#layouts2"> <span class="me-2"><i
										class="bi bi-book-half text-dark "></i></span> <span
									class="bd-toc-link text-secondary fw-bold ">Temática</span><span class="ms-auto">
									<span class="right-icon"> <i class="bi bi-chevron-down text-dark"></i>
									</span>
								</span>
							</a>
							<div class="collapse" id="layouts2">
								<ul class="navbar-nav ps-3">
									<li>
										<a th:href="@{/sistemanumerico}" class="nav-link px-3 text-secondary" ><span
												class="me-2"></span><span>Sistemas Numéricos</span>
										</a>
									</li>
									<li>
										<a th:href="@{/puntoflotante}" class="nav-link px-3 text-secondary" ><span
												class="me-2"></span><span>Punto Flotante</span>
										</a>
									</li>
									<li>
										<a th:href="@{/arquitectura}" class="nav-link px-3 text-secondary" ><span
												class="me-2"></span><span>UC-ALU-OTROS</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li><a href="#" class="nav-link px-3 text-secondary"><span class="me-2"><i
										class="bi bi-table"></i></span>
								<span class="fw-bold">Calendario</span>
							</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
</div>

<div class="container">
		<section>
				<h1>PUNTO FLOTANTE</h1>
			<p>Son la representación de cualquier número en la recta numérica o también conocidos como números en
			punto flotante. Se basan en la representación en notación científica comúnmente utilizada en matemáticas en la que una
			cantidad se representa de la forma:</p>
			<label>	N = m * b ^c</label>
			<br>
			<label>	N = número expresado en punto flotante.</label>
			<br>
			<label>	m = mantisa (es la fracción del signo).</label>
			<br>
			<label>	b = base del exponte o raíz (Que es 2 ^ Exponente)</label>
			<br>
			<label>c = exponente (con característica de ser + ó -)</label>
		</section>
<br>
		<h3>Representacion en la memoria de un pc</h3>
		<p>Estándar internacional de los ingenieros Eléctricos y Electrónicos (IEEE) Norma 754, define la representación en punto flotante de un número se dos formas:</p>

		<label>Presicion sencilla (4 Bytes o 32 Bits)</label>
	<div class="container text-center">
	  <div class="row" id="row1">
	    <div class="col-md-1">
	      S
	    </div>
	    <div class="col-md-4">
	      Exponente (8 bits)
	    </div>
	    <div class="col-md-7">
	      Mantisa(23 bits)
	    </div>
	  </div>
	</div>

		<label>Presicion doble sencilla (8 Bytes o 64 bits)</label>
	<div class="container text-center">
	  <div class="row" id="row2">
	    <div class="col-md-1">
	      S
	    </div>
	    <div class="col-md-4">
	      Exponente (11 bits)
	    </div>
	    <div class="col-md-7">
	      Mantisa(52 bits)
	    </div>
	  </div>
	</div>

		<label>Extra presicion (10 Bytes u 80 Bits)</label>
	<div class="container text-center">
	  <div class="row" id="row3">
	    <div class="col-md-1">
	      S
	    </div>
	    <div class="col-md-4">
	      Exponente (15 bits)
	    </div>
	    <div class="col-md-7">
	      Mantisa(64 bits)
	    </div>
	  </div>
	</div>

		<label>Quadruple presicion (16 Bytes u 128 Bits)</label>
	<div class="container text-center">
	  <div class="row" id="row4">
	    <div class="col-md-1">
	      S
	    </div>
	    <div class="col-md-4">
	      Exponente (15 bits)
	    </div>
	    <div class="col-md-7">
	      Mantisa(112 bits)
	    </div>
	  </div>
	</div>

		<label>Octuple presicion (32 Bytes u 256 Bits)</label>
	<div class="container text-center">
	  <div class="row" id="row5">
	    <div class="col-md-1">
	      S
	    </div>
	    <div class="col-md-4">
	      Exponente (23 bits)
	    </div>
	    <div class="col-md-7">
	      Mantisa(232 bits)
	    </div>
	  </div>
	</div>
<br>
	<h3>Representacion de un numero en el estandar IEE 754</h3>
	<p>Para la representación de un número en punto flotante siguiendo el estándar, se debe realizar los siguientes
	pasos:</p>
	<h6>1.Normalizar el numero entero</h6>
	<label>Normalizar es ajustar un número a 1 pero menor que 2 y mayor que cero.</label>
	<p>16.5 * 2^0 = 8.25 * 2^1 = 4.125 * 2^2 = 2.0625 * 2^3 = 1.03125 * 2^4 </p>
	<h6>2.Polarizar el exponente</h6>
	<p>Consiste en definir la forma de representar el número, si es con precisión sencilla se trabaja con
	127 y si es con doble precisión se trabaja con 1023. A este valor definido por la precisión se le suma el
	exponente logrado en la normalización.</p>
	<label>Siguiendo con el ejemplo anterior tenemos que</label>
	<p>16.5 = 1.03125 * 2^<b>4</b> Exponente es 4</p>
	<label>Con precisión sencilla seria 127 + 4 = 131</label>
	<br>
	<label>Con doble precisión sería 1023 + 4 = 1027</label>
	<br>
	<label>Con quadruple precisión sería 16383 + 4 = 16387</label>
	<br>
	<p>Con octuple precisión sería 262143 + 4 = 262147</p>
	<h6>3.Convertir la mantirsa a valor binario</h6>
	<p>Convertir el número decimal a su respectivo valor binario.</p>
	<label>Siguiendo en ejemplo anterior tenemos que: 1.03125</label>
	<ul>
		<li>0.03125 * 2 = 0.0625</li>
		<li>0.0625 * 2 = 0.125</li>
		<li>0.125 * 2 = 0.25</li>
		<li>0.25 * 2 = 0.5</li>
		<li>0.5 * 2 = 1</li>
	</ul>
	<label>Por lo tanto 0.03125 es igual a 0.00001</label>
	<br>
	<h6>4.Representarlo segun la precision</h6>
	<p>Representación del número con los valores calculados en los pasos 1 y 2</p>
	<label>Siguiendo el ejemplo anterior y trabajando con precisión sencilla tenemos que:</label>
	<ul>
		<li><b>Paso 1</b> 16.5 = 1.03125 * 2^4 Exponente es 4</li>
		<li><b>Paso 2</b> Con precisión sencilla seria 127 + 4 = 131 = 10000011</li>
		<li><b>Paso 3</b> Representación del punto decimal 0.3125 = 0.00001</li>
	</ul>

	<div class="container text-center">
	  <div class="row" id="rowBinario">
	    <div class="col-md-1">
	      0
	    </div>
	    <div class="col-md-4">
	      1 0 0 0 0 0 1 1
	    </div>
	    <div class="col-md-7">
	      0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
	    </div>
	  </div>
	</div>
<br>
<p>Adjuntamos en grupos de 4 bits</p>
<p><b>0 1 0 0</b> 0 0 0 1 <b>1 0 0 0</b> 0 1 0 0<b> 0 0 0 0</b> 0 0 0 0 <b>0 0 0 0</b> 0 0 0 0</p>
<ul>
	<li>0 1 0 0 = 4</li>
	<li>0 0 0 1 = 1</li>
	<li>1 0 0 0 = 8</li>
	<li>0 1 0 0 = 4</li>
	<li>0 0 0 0 = 0</li>
	<li>0 0 0 0 = 0</li>
	<li>0 0 0 0 = 0</li>
	<li>0 0 0 0 = 0</li>
</ul>
<p>Número: 41840000 → En secuencia inversa en memoria sería 00008441</p>
<h4>Casos particulares</h4>
<h6>Numeros negativos</h6>
<label><b>Paso 1:</b> Normalizacion</label>
<p>-5.25 * 2^0 = 2.625 * 2^1 = 1,3125 * 2^2</p>
<label><b>Paso 2:</b> Polarizacion</label>
<p>-5.25 = 1.3125 * 2^2 Precisión sencilla 127 + 2 = 129</p>
<label><b>Paso 3:</b> Convertir a decimal</label>
	<ul>
		<li>0.3125 * 2 = 0.625</li>
		<li>0.625 * 2 = 1.25</li>
		<li>0.25 * 2 = 0.5</li>
		<li>0.5 * 2 = 1</li>
		<li>Por lo tanto 0.3125 es igual a 0.0101</li>
	</ul>
	<label><b>Paso 4:</b> Representacion</label>
</div>
	</main>

	<footer th:replace="menu/menu :: footer"></footer>
</body>

</html>
</body>
</html>














